html,header, div, ul, li, body,footer{
    margin: 0;
    padding: 0;
    display:flexbox;
    box-sizing: border-box;
    background-repeat: no-repeat;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-image: url("images/wesley-pacifico-mPz34HvJdz8-unsplash.jpg");
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width:1450px){
    body{
        background-image: url("images/wesley-pacifico-mPz34HvJdz8-unsplash.jpg");
        width: 100%;
        height: 100vh;
        justify-content: center;
        justify-items: center;
    }
}


h1, p{
    margin:25px;
    margin-left: 37px;
    color:white;
}

.input-item{
    width: 250px;
    height: 50px;
    color: rgba(172, 181, 190, 0.753);
    border-radius: 5px;
    border:2px solid rgba(208, 214, 221, 0.192);
    
}

.fa-plus-circle{
    color:rgb(32, 32, 139);
    margin-left: -8px;
}

.list-group{
    margin-top: 10px;
    display: inline-block;
    /* border: 3px solid red ; */

}

.list-group-item{
    width: 250px;
    height: 50px;
    display: inline-block;
    border-radius: 5px;
    border:2px solid rgba(208, 214, 221, 0.192);
    color:rgb(24, 24, 92);

}
.btn{
    color:white;
}

input[type=checkbox]{
    margin-right: 7px;
    margin-top:2px;
    height: 18px;
    width: 18px;
}

.container{
    width:400px;
    margin-left: 22px;
}

